version: '3.8'

# サービスを定義する
services:

  # redisの設定
  redis:

    # イメージの指定
    image: redis:latest

    # ポートの設定
    ports:

      # ホスト側の 6379 ポートを、コンテナ側の 6379 ポートにマッピングする
      - "6379:6379"

  # mailhogの設定
  mail:

    # コンテナ名
    container_name: image_mailhog

    # イメージは mailhog の最新版とする
    image: mailhog/mailhog:latest

    # ポート設定
    ports:
      - 1025:1025
      - 8025:8025

  # SFTPサーバの設定
  sftp:

    # イメージの指定
    image: atmoz/sftp

    # コンテナ名の設定
    container_name: sftp-server

    # ポートの設定
    ports:

      # ホストの 2222 ポートを、コンテナの 22 ポートにマッピングする
      - "2222:22"

    # ボリュームの設定
    volumes:

      # SFTPサーバ側は /home/develop/upload が自動で作られるので、ホストの ./upload ディレクトリをマウントする
      - ./upload:/home/develop/upload

    # ユーザー名:パスワード:UID[:GID][:ディレクトリ]でSFTPユーザを作成する
    # 複数ユーザにしたい場合は半角スペース1文字を入れて設定を列挙する
    # ＜例＞ foo:pass:1001 bar:pass:1002
    command: develop:develop:1001

    # dockerを落とす以外は、落ちたら再起動する
    restart: unless-stopped

  # MinIOの設定
  minio:

    # イメージの指定
    image: minio/minio:latest

    # コンテナ名の設定
    container_name: minio

    # ポートの設定
    ports:

      # API用には9000ポート、管理コンソール用には9001ポートを使用
      - "9000:9000"   # API用
      - "9001:9001"   # 管理コンソール用

    # 環境変数の設定
    environment:

      # MinIOのルートユーザーとパスワードを設定
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123

    # ボリュームの設定
    volumes:

      # MinIOのデータを永続化するためのボリュームを指定
      - minio_data:/data

    # コマンドの設定
    # MinIOサーバーを起動し、9001ポートで管理コンソールを提供
    command: server /data --console-address ":9001"

  # MinIOのクライアントを使用してバケットを作成するためのサービス
  createbuckets:

    # イメージの指定
    image: minio/mc

    # 当該サービスがMinIOが起動してから実行されるよう、依存関係を設定
    depends_on:
      - minio

    # 起動時にデフォルトのバケットを生成するためのエントリポイント設定
    entrypoint: >
      /bin/sh -c "
        until mc alias set myminio http://minio:9000 minioadmin minioadmin123; do
          echo 'Waiting for MinIO...';
          sleep 2;
        done;
        mc mb --ignore-existing myminio/appstrage;
        exit 0;
      "

# ボリュームの定義
volumes:

  # MinIOのデータを永続化するためのボリューム
  minio_data:
