<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>SFTP</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  </head>
  <body>
    <h1>S3</h1>

    <a th:href="@{/top}">TOP画面に戻る。</a>

    <table border="1">
      <tbody>
        <tr>
          <td><a th:href="@{/sftp/upload}">SFTPでアップロード</a></td>
          <td><a th:href="@{/sftp/download}">SFTPでダウンロード</a></td>
          <td><a th:href="@{/sftp/delete}">SFTPで削除</a></td>
        </tr>
      </tbody>
    </table>

    <p>
        サーバから受信した fileNames の値は以下の通りです。
    </p>
    <p>
        <span th:text="${fileNames}"></span>
    </p>

    <script th:src="@{/js/common.js}"></script>
  </body>
</html>
