<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>バリデーション</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
  </head>
  <body>
    <h1>バリデーション</h1>
    <form th:action="@{/validation}" th:object="${validationDto}" method="post">
      <a th:href="@{/top}">TOP画面に戻る。</a>

      <div th:replace="~{parts/validationArea :: validationArea(${validationDto})}"></div>

      <input type="submit" value="Submit" />
      <button id="btnCallApi">API呼び出し</button>
    </form>

    <script th:src="@{/js/common.js}"></script>
  </body>
</html>
